<div class="container">
    <div class="row">
        <div *ngFor="let data of rawDataList; let i=index;" class="col-3" [routerLink]="['/application', data.ResourceGroup]">
            <div class="card text-white mb-3" [ngClass]="i === 0 ? 'bg-success' : data.ConsumedQuantity > 10 ? 'bg-info' : data.ConsumedQuantity >= 1 ? 'bg-warning' : 'bg-secondary'" style="max-width: 18rem;">
                <div class="card-header" [title]="data.ResourceGroup">{{data.ResourceGroup?.substr(0, 15) +
                    (data.ResourceGroup.length > 15 ? "..." : "")}} <span class="float-end">{{data.Date}}</span></div>
                <div class="card-body">
                    <h5 class="card-title" [title]="data.ServiceName">{{data.ServiceName?.substr(0, 15) +
                        (data.ServiceName.length > 15 ? "..." : "")}}</h5>
                    <div class="card-text">
                        <div class="row ">
                            <div class="col-6">High Usage</div>
                            <div class="col-6">{{data.ConsumedQuantity}}</div>
                        </div>
                        <div class="row ">
                            <div class="col-6">Location</div>
                            <div class="col-6">{{data.ResourceLocation}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>